input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}
.curTime {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
  transform: translate(-50%);
  background-color: #FFF;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputWarpper {
  display: flex;
  
  input{
    width: 30px;
    border-style: none;
    border-radius: 5px;
    margin: 0 5px 0 5px
  }
}

.btnWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
  input {
    width: 50px;
    position: absolute;
    box-shadow: 3px 3px 3px black;
    height: 20px;
  }
  input:first-child {
    left: 0;
  }
  input:last-child{
    right: 0;
  }
  input:active {
    margin-left: 3px;
    margin-top: 3px;
    box-shadow: none;
  }
}