input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}
.title {
  color: #1BCFEE;
  font-family: "Electrolize","sans-serif";
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #1bcfee;
  text-transform: uppercase;
  margin-top: 40px;
}
.timer {
  color: #1BCFEE;
  /* h1-h6 && th CSS */
  font-family: "Electrolize", "sans-serif";
  /* h1 */
  font-size: 1rem;
  /* h1-h6 && th CSS */
  font-weight: bold;
  /* h1 */
  text-align: center;
  /* Neon Yellow */
  text-shadow: 0 0 10px #1BCFEE;
  /* h1-h6 && th CSS */
  text-transform: uppercase;
}
.stop{
  color: #fae127;
  text-shadow: 0 0 20px #fae127;
  text-align: center;
  font-family: "Electrolize","sans-serif";
}
.curTime {
  font-family: "Electrolize","sans-serif";
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  transform: translate(-50%);
  text-shadow: 0 0 10px #FFF;
  color: #fff;
}
body{
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
  background-size:cover;
  margin:0
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    font-family: "Electrolize","sans-serif";
    font-size: 60px;
    margin-bottom: 20px;
  }
  .logo b{
    font: 400 19vh;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #1BCFEE, 0 0 0.5em #1BCFEE, 0 0 0.1em #1BCFEE, 0 10px 3px #000;
  }
  .logo b span{
    animation: blink linear infinite 2s;
  }
  .logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputWarpper {
  display: flex;
  
  input{
    font-family: "Electrolize","sans-serif";
    text-align: center;
    color: #FFF;
    text-shadow: 0 0 10px #FFF;
    width: 32px;
    border-style: none;
    border-radius: 2px;
    margin: 0 5px 0 5px;
    background-color: gray;

  }
}

.btnWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
  .inputBtn {
    background-color: transparent;
    border: 1px solid #fae127;
  }
  input {
    // padding: 5px 8px 5px 8px;
    opacity: 0.6;
    font-family: "Electrolize","sans-serif";
    text-align: center;
    // background-color: rgb(20, 20, 20);
    color: #fae127;
    /* h1-h6 && th CSS */
    font-family: "Electrolize", "sans-serif";
    /* h1 */
    /* h1-h6 && th CSS */
    font-weight: bold;
    /* h1 */
    text-align: center;
    /* Neon Yellow */
    // text-shadow: 0 0 30px #fae127;
    /* h1-h6 && th CSS */
    text-transform: uppercase;
    width: 60px;
    position: absolute;
    height: 30px;
    transition: all 0.3s;
    border-radius: 3px;
  }
  input:first-child {
    left: 0;
  }
  input:last-child{
    right: 0;
  }
  input:active {
    margin-left: 3px;
    margin-top: 3px;
    box-shadow: none;
  }
  input:hover {
    opacity: 1;
    color: #61dafb;
    box-shadow: 1px 0px 8px #61dafb;
    border: 1px solid #61dafb;
  }
}