input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  appearance: none;
  margin: 0;
}
.title {
  color: #1BCFEE;
  font-family: "Electrolize","sans-serif";
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 10px #1bcfee;
  text-transform: uppercase;
  margin-top: 40px;
}
.timer {
  color: #1BCFEE;
  /* h1-h6 && th CSS */
  font-family: "Electrolize", "sans-serif";
  /* h1 */
  font-size: 1rem;
  /* h1-h6 && th CSS */
  font-weight: bold;
  /* h1 */
  text-align: center;
  /* Neon Yellow */
  text-shadow: 0 0 10px #1BCFEE;
  /* h1-h6 && th CSS */
  text-transform: uppercase;
}
.stop{
  color: #fae127;
  text-shadow: 0 0 20px #fae127;
  text-align: center;
  font-family: "Electrolize","sans-serif";
}
.curTime {
  font-family: "Electrolize","sans-serif";
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
  transform: translate(-50%);
  text-shadow: 0 0 10px #FFF;
  background-color: #282c34;
  color: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputWarpper {
  display: flex;
  
  input{
    font-family: "Electrolize","sans-serif";
    text-align: center;
    color: #FFF;
    text-shadow: 0 0 10px #FFF;
    width: 32px;
    border-style: none;
    border-radius: 2px;
    margin: 0 5px 0 5px;
    background-color: gray;

  }
}

.btnWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 10px;
  input {
    font-family: "Electrolize","sans-serif";
    text-align: center;
    background-color: black;
    color: #1BCFEE;
    /* h1-h6 && th CSS */
    font-family: "Electrolize", "sans-serif";
    /* h1 */
    /* h1-h6 && th CSS */
    font-weight: bold;
    /* h1 */
    text-align: center;
    /* Neon Yellow */
    text-shadow: 0 0 10px #1BCFEE;
    /* h1-h6 && th CSS */
    text-transform: uppercase;
    width: 50px;
    position: absolute;
    box-shadow: 2px 1px 5px #1BCFEE;
    height: 20px;
  }
  input:first-child {
    left: 0;
  }
  input:last-child{
    right: 0;
  }
  input:active {
    margin-left: 3px;
    margin-top: 3px;
    box-shadow: none;
  }
}